<div class="row">
  <div *ngFor="let restaurant of restaurants$ | async" class="col-6 col-md-4">
    <div class="card">
      <div class="card-body p-1">
        <img class="img-fluid" [src]="baseUrl + restaurant.id + '/poster'" />
      </div>
      <div class="card-body p-1 text-center">
        <a [routerLink]="[restaurant.id]" class="text-bold text-lg m-0">
          {{ restaurant.name }}
        </a>
        <div>
          <i
            *ngFor="let item of getRatingStars(restaurant.rating)"
            class="text-warning"
            [class]="item"
          ></i>
        </div>
        <div class="mx-3">
          Open: {{ restaurant.openHours }}
        </div>
      </div>
    </div>
  </div>
</div>
