<div class="card">
  <div class="card-header">
    <h3 class="card-title">Upcoming Events</h3>
    <div class="card-tools">
      <div class="btn-group">
        <a [routerLink]="['create']" class="btn btn-primary">
          <i class="fa fa-calendar-plus"></i> New Event
        </a>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <ul class="products-list product-list-in-card pl-2 pr-2">
      <li class="item" *ngFor="let event of (events$ | async)" >
        <app-event-summary [scheduledEvent]="event"></app-event-summary>
      </li>
    </ul>
  </div>
</div>
