<div class="card h-100">
  <div class="card-body p-1">
    <div class="row">
      <div class="col-7">
        <img
          src="assets/images/weather/weezle_cloud_thunder_rain.png"
          style="max-width: 100%"
        />
      </div>
      <div class="col-5">
        <h5 class="text-center">Sunday, Jan 03</h5>
        <h6 class="text-center">Thunderstorms</h6>
        <div class="text-center mt-5" style="font-size: 50px;">
          23<span>&#176;</span>C
        </div>
        <div class="mt-5" style="font-size: larger;">
          <div class="float-left">
            Min {{ '17' }}<span>&#176;</span>C
          </div>
          <div class="float-right">
            Max {{ '23' }}<span>&#176;</span>C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
