<div class="card h-100">
  <div class="card-body p-1">
    <div class="row">
      <div class="col-7">
        <img
          [src]="
            'assets/images/weather/' +
            forecast.forecastWeather.condition.code +
            '.png'
          "
          class="img-fluid"
        />
      </div>
      <div class="col-5">
        <h5 class="text-center">{{ forecast.date | date: "EEEE, MMM dd" }}</h5>
        <h6 class="text-center">
          {{ forecast.forecastWeather.condition.text }}
        </h6>
        <div class="text-center mt-5" style="font-size: 50px">
          {{ forecast.forecastWeather.temperature }}<span>&#176;</span>C
        </div>
        <div class="mt-5" style="font-size: larger">
          <div class="float-left">
            Min {{ forecast.forecastWeather.low }}<span>&#176;</span>C
          </div>
          <div class="float-right">
            Max {{ forecast.forecastWeather.high }}<span>&#176;</span>C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
