<h3>Current Conditions</h3>
<div class="row" *ngIf="currentWeather">
  <div class="col-md-6 mb-3">
    <app-current-conditions [forecast]="currentWeather"></app-current-conditions>
  </div>
  <div class="col-md-6 mb-3">
    <app-current-report></app-current-report>
  </div>
</div>
<h3 class="mt-4">Weekly Forecast</h3>
<div class="d-flex">
  <div class="p-1" *ngFor="let item of forecast">
    <app-forecast-day [forecast]="item"></app-forecast-day>
  </div>
  <div class="p-1" *ngFor="let item of forecast">
    <app-forecast-day [forecast]="item"></app-forecast-day>
  </div>
</div>

