<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link navbar-info">
    <img
      src="assets/images/logo.png"
      alt="MUK Logo"
      class="brand-image"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light"><b>MUK</b> Tour</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/images/user.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a class="d-block">
          Current User
        </a>
        <div>
          <a [routerLink]="['logout']" class="text-sm">
            <i class="fa fa-sign-out-alt"></i> Logout
          </a>
        </div>
      </div>

    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            [routerLink]="['/dashboard']"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="nav-icon fa fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/events']"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="nav-icon fa fa-calendar"></i>
            <p>Scheduled Events</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/weather']"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-cloud-sun-rain"></i>
            <p>Weather Forecast</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/restaurants']"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-utensils"></i>
            <p>Restaurants</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/services']"
            class="nav-link"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-business-time"></i>
            <p>Service Providers</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

